@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



.sns_detail {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	width : 50%;
	margin: 0 auto;
	max-width : 1000px;
	border : 3px solid #f5f5f5;
	flex-flow : row wrap;
	align-items: center;
	zoom : 0.7;

}


.nav_wrap_snsDetail {
    display: flex;
    width : 100%;
    height : 100%;
    max-width : 1000px;
    justify-content: space-between;
/*     align-items: center; */

	


}

.main_out_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
	width : 100%;
	height : 100%;
	margin: 0 auto;
/* 	border : 1px solid silver; */
/* 	flex-flow : row wrap; */
	flex-direction: column;
	padding : 2%;
}

.container {
	display : flex;
	flex-direction: column;
	width : 100%;
/* 	height : 100%; */
	padding : 20px 0;
	margin: 0 auto;
/* 	border : 1px solid pink; */
	font-size : 1.3em;
	
}

.user{
	display : flex;
	flex-wrap : wrap;
}

.sns_detail_head {
	display : flex;
	flex-wrap : wrap;
	flex-direction: column;
	width : 70%
}

.nav_icons_back{
	margin-top : 5% ;
	margin-left : 3%;
	color : #3c3c3c;
}

.iconBack :hover{
	color : #0395f6;
}

.sns_main_menu{
	margin-left : 90%;
	margin-bottom : -7%;
	font-size : 3.5em;
	
}


.user_profile {
	width: 70px;
    height: 70px; 
    border: 5px solid transparent;
    background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #f85863, #a6ea67, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 70%;
    overflow: hidden;
    
}

.img_profile {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_id {
	font-size: 1.8em;
    font-weight: 900;
	
}


/* 상세페이지 사진 크기 맞춤*/
.sns_detail_photo {

	border-radius: 30px;
	width: 100%;
	margin : 15px 0;
    
}

/* .sns_detail_photo img{ */
/* 	border-size : box; */
/* 	width: 100%; */
	
/* } */

.sns_detail_underbox {
	width : 100%;
	display: flex;
/* 	flex-wrap : wrap; */
	flex-direction: column;
	margin-top : 5%;
	font-size : 1.5em;
	padding : 3%;
}

.sns_content_box{
	display : flex;
	width : 100%;
	flex-direction: column;
	font-size : 1.2em;
	padding : 10px;
	color : #3c3c3c;
	
}
.fa-solid fa-ellipsis{
	color : #3c3c3c;
}

.fa-regular fa-arrow-up-from-square {
	font-size : 3em;
	color : #3c3c3c;
	
}
.sns_contents {
	border-left :  3px solid #dbdbdb;
	padding : 10px;
}

.snsProd_name{
/* 	display : flex; */
/* 	justify-content: flex-start; */
/* 	border : 1px solid black; */
	text-align : center;
	width : 50%;
    background-color: #3c3c3c;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
	color: black;
    cursor: pointer;
   
    
}


.sns_comment{
	display : flex;
/* 	flex-direction: row; */
	 justify-content: flex-start;
	 margin-top : 5%;
/* 	 margin-left : 2%; */
	 width : 100%;
}

/*댓글 입력 창*/
#comment_content{
	border : none;
	border-right : 0px;
	border-left : 0px;
	border-bottom : 0px;
	border-top : 0px;
	text-indent: 10px;
	
}

.sns_comment *{
  font-family: Montserrat, Pretendard, sans-serif;
  color : 595959;
}

.comment_list{

	margin-top : 5%;	
	
}



.sns_crud_btn {
	display : flex;
	justify-content: flex-end;
	width : 100%;
	margin-top : 50px; 


}


#commentBtn {
/* 	height: 32px; */
/*     width: 32px; */

    object-fit: cover;
    margin : 0 10px;
    background: white;
    color : #0395f6;
    font-weight : bold;
}

#comment_content { 
/* 	position: absolute; */
    width: 500px;
    height: 30px;
    background: #fafafa;
    color : rgba(0, 0, 0, 5);
/*     text-align: center; */
    text-transform: capitalize;
    border: 1px solid #dfdfdf;
    border-radius: 2px;

 } 


#deleteBtn, #updateBtn, #likeBtn{
	margin-top : 5%;
	height: 32px;
    width: 32px;
    

}
/* #deleteBtn{ */
/* 	margin-left : 50% */
/* } */

#user_id_influencer {
	height: 20px;
    width: 20px;
}